{
  "openapi": "3.0.3",
  "info": {
    "title": "Go-Fresh E-commerce API",
    "description": "Complete e-commerce backend with Airtable CMS integration and ČSOB payment processing",
    "version": "1.0.0",
    "contact": {
      "name": "Go-Fresh API Support",
      "url": "https://go-fresh.com/support"
    }
  },
  "servers": [
    {
      "url": "https://api.go-fresh.com",
      "description": "Production server"
    },
    {
      "url": "https://api-staging.go-fresh.com",
      "description": "Staging server"
    }
  ],
  "paths": {
    "/api/products": {
      "get": {
        "summary": "Get all products",
        "tags": ["Products"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/products/{id}": {
      "get": {
        "summary": "Get single product",
        "tags": ["Products"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/cart": {
      "get": {
        "summary": "Get cart contents",
        "tags": ["Cart"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/cart/add": {
      "post": {
        "summary": "Add product to cart",
        "tags": ["Cart"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddToCartRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/checkout/create-order": {
      "post": {
        "summary": "Create order and initialize payment",
        "tags": ["Checkout"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "currency": {
            "type": "string",
            "default": "CZK"
          },
          "category": {
            "type": "string"
          },
          "stock": {
            "type": "integer"
          },
          "inStock": {
            "type": "boolean"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                },
                "filename": {
                  "type": "string"
                }
              }
            }
          },
          "isOrganic": {
            "type": "boolean"
          },
          "isVegan": {
            "type": "boolean"
          },
          "featured": {
            "type": "boolean"
          }
        }
      },
      "CartItem": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "quantity": {
            "type": "integer"
          },
          "image": {
            "type": "string"
          }
        }
      },
      "Cart": {
        "type": "object",
        "properties": {
          "itemCount": {
            "type": "integer"
          },
          "totalItems": {
            "type": "integer"
          },
          "subtotal": {
            "type": "number"
          },
          "tax": {
            "type": "number"
          },
          "total": {
            "type": "number"
          },
          "items": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/CartItem"
            }
          }
        }
      },
      "ProductsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "products": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Product"
                }
              },
              "pagination": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer"
                  },
                  "offset": {
                    "type": "string"
                  },
                  "hasMore": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        }
      },
      "ProductResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/Product"
          }
        }
      },
      "CartResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "cart": {
                "$ref": "#/components/schemas/Cart"
              }
            }
          }
        }
      },
      "AddToCartRequest": {
        "type": "object",
        "required": ["productId", "quantity"],
        "properties": {
          "productId": {
            "type": "string"
          },
          "quantity": {
            "type": "integer",
            "minimum": 1
          }
        }
      },
      "CreateOrderRequest": {
        "type": "object",
        "required": ["customerInfo", "shippingInfo"],
        "properties": {
          "customerInfo": {
            "type": "object",
            "required": ["email", "firstName", "lastName", "phone"],
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "firstName": {
                "type": "string"
              },
              "lastName": {
                "type": "string"
              },
              "phone": {
                "type": "string"
              }
            }
          },
          "shippingInfo": {
            "type": "object",
            "required": ["address", "city", "postalCode", "country"],
            "properties": {
              "address": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "postalCode": {
                "type": "string"
              },
              "country": {
                "type": "string"
              }
            }
          },
          "paymentMethod": {
            "type": "string",
            "default": "card"
          },
          "language": {
            "type": "string",
            "default": "cs"
          }
        }
      },
      "OrderResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "order": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "orderNo": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "totalAmount": {
                    "type": "number"
                  }
                }
              },
              "payment": {
                "type": "object",
                "properties": {
                  "payId": {
                    "type": "string"
                  },
                  "paymentUrl": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}