# This is a placeholder for your merchant private key
# 
# To obtain your merchant keys:
# 1. Visit https://platebnibrana.csob.cz/keygen/
# 2. Generate your key pair
# 3. Download the private key and replace this file
# 4. Submit the public key to ČSOB for merchant registration
#
# File should be in PEM format:
# -----BEGIN RSA PRIVATE KEY-----
# Your private key content here
# -----END RSA PRIVATE KEY-----